.banner{
    background-image: url(/PORTFOLIO/images/slider.jpg);
    padding: 250px;
    background-repeat: no-repeat;
    background-size: cover;  
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .Skills-padding{
    padding: 70px 0;
  }